<!DOCTYPE html>
<html>

{% include "head.html" %}

{% include 'header.html' %}


    {% block content %}
        {% if messages %}
            {% for message in messages %}
             <div class="alert alert-success fixed-top" style="z-index: 9996; margin-top: 74px;
             border-color: #694D9F;background: #694D9F;color: #fff;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Mensajes: </strong> {{message}}
              </div>
             {% endfor %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 4000);
        </script>
        {% endif %}
    {% endblock content %}

    {% include 'scripts.html' %}



</html>