 {% load static %}
  <header class="header">
      <!-- Main Navbar-->
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                  <form action="{% url 'search' %}">
                  <div class="form-group">
                    <input type="search" name="q" id="search" placeholder="Qué estás buscando?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Navbar Brand -->
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <!-- Navbar Brand --><a href="/" class="navbar-brand">
            <img src="{% static 'img/Kywork1.png' %}"
                 alt="KyWork | El puesto ideal para la persona ideal" width="36" height="36"/>
                                  KyWork</a>
            <!-- Toggle Button-->
            <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
          <!-- Navbar Menu -->
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link ">Inicio</a>
              </li>
              <li class="nav-item"><a href="/blog" class="nav-link active ">Ofertas!</a>
              {% if user.is_authenticated %}

              {% if request.user.author %}
              <li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link ">Crear</a>
              </li>
              {% endif %}

              {% endif %}
              {% if user.is_authenticated %}

              {% if request.user.author %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ user.author.profile_picture.url }}" class="rounded-circle" style="width: 30px; height: 30px" />
                </a>
                <div class="dropdown-menu animated fadeIn faster" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ request.user.author.get_absolute_url }}">{{ request.user }}</a>
                  <a class="dropdown-item" href="{% url 'profile' %}">Ajustes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Cerrar Sesión</a>
                </div>
              </li>
              {% else %}
                <li class="nav-item"><a href="{% url 'valid' %}" class="nav-link ">Configurar mi cuenta</a></li>
              <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link ">Cerrar Sesión</a></li>
              {% endif %}




              {% else %}
              <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link ">Iniciar Sesión</a></li>
              <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link ">Regístrate</a></li>
              {% endif %}
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            {% comment %}<ul class="langs navbar-text"><a href="#" class="active">EN</a><span></span><a href="#">ES</a></ul>{% endcomment %}
          </div>
        </div>
      </nav>




    </header>