{% extends "account/base2.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<style>
    li{
        color: red;
        text-decoration: none;
    }
</style>
<body id="particles-js">
 <link rel="stylesheet" href="{% static 'css/login.css' %}">

                   <div class="main-form animated pulse">
                  <img class="logo" src="{% static 'img/Kywork1.png' %}"/>

                     <form class="login" method="POST" action="/accounts/login/">
                        {% csrf_token %}

                          {{ form|crispy }}

                  <input class="primaryAction" type="submit" value="Iniciar sesión">
                       </form>
                      <a href="/accounts/facebook/login/?process=login">
                  <button class="loginBtn loginBtn--facebook">
                  Iniciar con facebook
                </button>
                </a>
                     {% include "socialaccount/snippets/login_extra.html" %}
                  <a href="{% url 'account_reset_password' %}" title="">¿Olvidaste tu contraseña?</a>
                  <div>
                    <a href="#" title="">¿No tienes una cuenta?</a>
                    <a href="{{ signup_url }}" title="">Regístrate</a>
                  </div>
                </div>


<body>

  <script src="{% static 'js/particles.min.js' %}"></script>

  <script>
    particlesJS.load('particles-js', '{% static "js/particles.json"' %}', function(){
      console.log('particles.json loaded...');
    });
  </script>







{% endblock %}
