{% extends "account/base2.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="card text-center">
  <div class="card-header">
    <h5>Restablecimiento de contraseña</h5>
  </div>
  <div class="card-body">
       {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h5 class="card-title">Elija su gestor de correo que usa usted</h5>
    <p class="card-text">Te hemos enviado un correo electrónico.</p>
    <a href="https://accounts.google.com/signin/v2" class="btn btn-danger">Gmail</a>
      <a href="https://login.yahoo.com/" class="btn btn-primary">Yahoo</a>
      <a href="https://login.live.com/" class="btn btn-info">Outlook</a>
  </div>

</div>




{% endblock %}
