{% extends "account/base2.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<br>
<br>
<div class="jumbotron">
  <h1 class="display-4">{% trans "Contraseña cambiada" %}</h1>
  <p class="lead">Disfruta de los servicios que ofrece la aplicación :).</p>
  <hr class="my-4">
  <p>{% trans 'Tu contraseña ha cambiado ahora.' %}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">Iniciar sesión ahora mismo</a>
  </p>
</div>

    <h1></h1>
    <p></p>
{% endblock %}
