{% extends "account/base2.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="card col-xl-10" style="margin-left: 10px; margin-top: 90px; margin-right: 10px; border-radius: 30px">
  <div class="card-header">
    <h5>{% trans "Restablecimiento de contraseña" %}</h5>
      {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
  </div>
  <div class="card-body">
    <div class="col-md-8">
 <p class="card-text">
¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación,
     y le enviaremos un correo electrónico que le permitirá restablecerla.</p>
	<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

<div class="input-group mb-3">

  <input type="email" name="email" size="30" placeholder="E-mail address" required id="id_email">
  <div class="input-group-append">
    <button class="btn btn-info" type="submit" id="button-addon2">Restaurar mi contraseña</button>
  </div>

</div>

   <p>Póngase en contacto con nosotros si tiene algún problema para restablecer su contraseña.</p>
 </form>
</div>
  </div>
</div>



{% endblock %}
