{% extends "account/base2.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<style>
	label{
		display: none;
	}
</style>

<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="register-photo">
	<div class="form-container">
		<div class="image-holder"></div>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			{% csrf_token %}
			<h2 class="text-center"><strong>Crease</strong> una cuenta.</h2>

			<p style="color:red;">{{ form|crispy }}</p>

			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}



			<div class="form-group">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">Estoy de acuerdo con los términos y condiciones.
					</label>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Registrarme ahora</button>

			</div>

			<a href="{{ login_url }}" class="already">Ya tienes una cuenta? toque aquí.</a>
		</form>
	</div>
</div>


{% endblock %}
