aioredis==1.2.0
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
certifi==2019.3.9
cffi==1.12.2
channels==2.1.6
channels-redis==2.3.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.6.1
daphne==2.2.4
defusedxml==0.5.0
Django==2.1.7
django-allauth==0.39.1
django-crispy-forms==1.7.2
django-extensions==2.1.6
django-filter==2.0.0
django-phone-field==1.7.0
django-tinymce4-lite==1.7.4
graphviz==0.10.1
hiredis==0.3.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
jsmin==2.2.2
msgpack==0.6.0
oauthlib==3.0.1
Pillow==8.3.2
psycopg2==2.7.5
psycopg2-binary==2.8.2
pycparser==2.19
pydot==1.4.1
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
Twisted==18.9.0
txaio==18.8.1
urllib3==1.24.1
Werkzeug==0.15.1
zope.interface==4.6.0
